@import '~antd/dist/antd.css';
.paginate {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 40px;
  flex: 0 0 100%;
  max-width: 1025px;
  margin: 0 auto;
  background: #ffffff;
}

.searchInput {

  max-width: 1010px;
}